[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=LightGuider
Comment=LightGuider Modified from PHD2
Exec=lightguider
Icon=phd2
Terminal=false
Type=Application
Categories=Education;Science;Astronomy;
GenericName=LightGuider
